.team-heading  {
    background-color: #00005c;
}

h1 {
    color: white;
}

.employee-card {
    background-color: #00005c;
}

.card-body {
    background-color: #c060a1;
}
.list-group-item {
    background-color: #ffdcb4;
}
h2, h3 {
    color: white;
}
i  {
    color: black;
}